# .gitignore
.vscode

#datasets
outputs/*
dataset/
poisson_test/
dataset/results*
dataset/april15_results
*.pth
analysis.py
pre-train
temp_data
dataset/training-data
dataset/merged_training_data.pt
p_net


# build
virne.egg-info
dist

# save
save
running_log
old_save
pretrained
exp_flag_vne_data
exp_srl_vne_data

# docs
docs/build/
docs/source/_autosummary/
docs/source/generated/

# cache
*.log
*.py[cod]
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints

