# .gitignore
.vscode

#datasets
ablation_results
benchmark_results/
k_specific_training/
sfc_datasets/
sfc_study_results/
results/*
outputs/* 
dataset/
legacy
datasets/
poisson_test/
dataset/results*
dataset/april15_results
*.pth
*.backup
analysis.py
pre-train
temp_data
dataset/training-data
dataset/merged_training_data.pt
p_net


# build
**/Makefile
**/CMakeCache.txt
**/cmake_install.cmake
CMakeFiles/
**/CMakeCache.txt
**/*.cubin
**/*.so
virne.egg-info
dist

# save
save
running_log
old_save
pretrained
exp_flag_vne_data
exp_srl_vne_data

# docs
docs/build/
docs/source/_autosummary/
docs/source/generated/
confrence_paper

# cache
*.log
*.py[cod]
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints